<template>
  <div class="general">
    <div class="center">
      <section id="content">
        <article class="article-item article-detail" v-if="article">
          <div class="image-wrap">
            <img
              :src="`${url}get-image/${article.image}`"
              :alt="article.title"
              v-if="article.image"
            />
            <img
              src="../assets/default.png"
              :alt="article.title"
              v-if="!article.image"
            />
          </div>

          <h1 class="subheader">{{ article.title }}</h1>
          <span class="date">
            {{ article.date | moment("from", "now") }}
          </span>
          <p>{{ article.content }}</p>
          <div class="clearfix"></div>

          <router-link :to="'/editar/' + article._id" class="btn btn-warning">
            Editar
          </router-link>
          <a @click="deleteArticle(article._id)" class="btn btn-danger">
            Eliminar
          </a>
        </article>
      </section>
      <sidebar></sidebar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
  import sidebar from "./sidebar.vue"
  import Global from "../constant"
  import axios from "axios"
  import swal from "sweetalert"

  export default {
    name: "articleDetail",
    components: {
      sidebar
    },
    data() {
      return {
        url: Global.url,
        article: undefined
      }
    },
    mounted() {
      let articleId = this.$route.params.id
      this.getArticle(articleId)
      console.log(this.url)
    },
    methods: {
      getArticle(articleId) {
        axios.get(this.url + "article/" + articleId).then(res => {
          if (res.data.status == "success") {
            this.article = res.data.article
          }
        })
      },
      deleteArticle(articleId) {
        axios.delete(this.url + "article/" + articleId).then(() => {
          swal("Artículo borrado", "El artículo fue borrado", "success")
        })
        this.$router.push("/blog")
      }
    }
  }
</script>

<style>
  .article-detail .image-wrap img {
    width: 300px !important;
  }
</style>
