<template>
  <section id="articles-component">
    <div id="articles-list" v-if="articles.length > 0">
      <article
        class="article-item"
        v-for="article in articles"
        :key="article._id"
      >
        <div class="image-wrap">
          <img
            :src="`${url}get-image/${article.image}`"
            :alt="article.title"
            v-if="article.image"
          />
          <img
            src="../assets/default.png"
            :alt="article.title"
            v-if="!article.image"
          />
        </div>

        <h2>
          <router-link :to="{name: 'article', params: {id: article._id}}">
            {{ article.title }}
          </router-link>
        </h2>

        <span class="date">
          {{ article.date | moment("from", "now") }}
        </span>

        <router-link :to="{name: 'article', params: {id: article._id}}">
          Leer más
        </router-link>

        <div class="clearfix"></div>
      </article>
    </div>
  </section>
</template>
<script>
  import Global from "../constant"
  export default {
    name: "articles",
    props: ["articles"],
    data() {
      return {
        url: Global.url
      }
    },
    mounted() {
      console.log("Componente articles montado")
      console.log("prop que resive componente articles")
      console.log(this.articles)
      console.log(`longitud de el props: ${this.articles.length}`)
    }
  }
</script>
