<template>
  <div class="general">
    <slider text="bienvenido al blog"></slider>
    <div class="center">
      <section id="content">
        <h1 class="subheader">blog</h1>
        <div v-if="!articles">
          Cargando....
        </div>
        <div id="articles" v-if="articles">
          <articles :articles="articles"></articles>
        </div>
      </section>
      <sidebar></sidebar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
  import slider from "./slider.vue"
  import sidebar from "./sidebar.vue"
  import Global from "../constant"
  import articles from "./articles.vue"
  import axios from "axios"

  export default {
    name: "blog",
    components: {
      slider,
      sidebar,
      articles
    },

    data() {
      return {
        articles: undefined,
        url: Global.url
      }
    },
    mounted() {
      console.log("componente BLOG montado ")
      this.getArticles()
    },
    methods: {
      getArticles() {
        setTimeout(() => {
          axios.get(`${this.url}articles`).then(res => {
            if (res.data.status === "success") {
              this.articles = res.data.articles
              console.log(this.articles)
            }
          })
        }, 2000)
      }
    }
  }
</script>
<style></style>
