<template src="./createArticle/createArticle.html"></template>
<script>
import sidebar from "./sidebar"
  import Global from "../constant"
  import modelArticle from "../models/modelArticle"
  import axios from "axios"
  import swal from "sweetalert"

  export default {
    name: "editArticle",
    components: {
      sidebar
    },

    data() {
      return {
        url: Global.url,
        objectArticle: new modelArticle("", "", null, ""),
        file: "",
        isEdit:true
      }
    },
    mounted() {
      console.log("componente crearArticulo montado ")
      let articleId = this.$route.params.id
      this.getArticle(articleId)
      console.log(this.objectArticle)
    },
    methods: {
      getArticle(articleId) {
        axios.get(this.url + "article/" + articleId).then(res => {
          if (res.data.status == "success") {
            this.objectArticle = res.data.article
          }
        })
      },
      save() {

        let articleID = this.$route.params.id
        axios
          .put(this.url + "article/" + articleID, this.objectArticle)
          .then(res => {
            console.log("en el then")
            console.log(res.data)
            if (res.data.status == "success") {
              if (this.file) {
                const formData = new FormData()
                formData.append("file0", this.file, this.file.name)
                let articleId = res.data.article._id
                axios
                  .post(this.url + "upload-image/" + articleId, formData)
                  .then(res => {
                    if (res.data.article) {
                      swal(
                        "Artículo editado",
                        "El artículo se a editado correctamente",
                        "success"
                      )
                      this.objectArticle = res.data.article
                      this.$router.push("/articulo/"+articleID)
                    }
                  })
              }
              if (!this.file) {
                swal(
                  "Artículo editado",
                  "El artículo se a editado correctamente",
                  "success"
                )
                this.objectArticle = res.data.article
                this.$router.push("/articulo/"+articleID)
              }
            }
          })
          .catch(err => {
            console.log("en el catch")
            console.log(err)
          })
      },
      changeFile() {
        this.file = this.$refs.file.files[0]
        console.log(this.file)
      }
    }
  }
</script>