<template>
    <section id='content'>
        <h1 class='subheader'> Pagina no encontrada</h1>
        <h2>La pagina que buscas no existe, intentalo luego </h2>
    </section>
</template>

<script>
export default {
    name:'ErrorComponent'
}
</script>

<style>

</style>