<template>
  <footer id="footer">
    <div class="center">
      <p>
        &copy; jarvijavier@gmail.com
      </p>
    </div>
  </footer>
</template>

<script>
export default {
  name: "footerComp",
};
</script>
<style></style>
