<template>
  <div class="general">
    <div class="center">
      <section id="content">
        <h2 class="subheader">formulario</h2>
        <form class="mid-form">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" v-model="user.name" />
          </div>

          <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" name="apellidos" v-model="user.lastName" />
          </div>

          <div class="form-group">
            <label for="bio">Biografia</label>
            <textarea name="bio" v-model="user.bio" ></textarea>
          </div>

          <div class="form-group radibuttons">
            <input type="radio" name="genero" value="hombre" v-model="user.genero" />
            Hombre
            <input type="radio" name="genero" value="mujer" v-model="user.genero" />
            Mujer
            <input type="radio" name="genero" value="otro" v-model="user.genero" />
            Otro
          </div>

          <div class="clearfix"></div>

          <input type="submit" value="Enviar" class="btn btn-success" />
        </form>
      </section>
      <sidebar></sidebar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
import sidebar from "./sidebar.vue"
export default {
  name: "formulario",
  components: {
    sidebar
  },
  data(){
    return {
      user:{
        name:'',
        lastName:'',
        bio:'',
        genero:''
      }
    }
  },
  updated(){
    console.log(this.user);
  }
}
</script>
<style></style>
