<template>
  <header id="header">
    <div class="center">
      <!-- LOGO -->
      <div id="logo">
        <img src="../assets/logo.png" class="app-logo" alt="Logotipo" />
        <span id="brand"> Vue </span>
      </div>

      <!-- MENU -->
      <nav id="menu">
        <ul>
          <li>
            <router-link to='/home' active-class="active"> inicio </router-link>
          </li>
          <li>
            <router-link to='/blog' active-class="active"> Blog </router-link>
          </li>
          <li>
            <router-link to='/formulario' active-class="active"> formulario </router-link>
          </li>
          <li>
            <router-link to='/pagina' active-class="active"> pagina </router-link>
          </li>
          <li>
            <router-link to='/movies' active-class="active"> peliculas </router-link>
            <!-- <router-link to='/componente' active-class="active"> pagina 2 </router-link> -->
          </li>
        </ul>
      </nav>

      <!--LIMPIAR FLOTADOS-->
      <div class="clearfix"></div>
    </div>
  </header>
</template>

<script>
export default {
  name: "headerComp",
};
</script>

<style></style>
