<template>
  <div class="general">
    <slider text="Bienvenido" :home=true></slider>
    <div class="center">
      <section id="content">
        <h2 class="subheader">Últimos artículos</h2>
        <div id="articles" v-if="articlesArry">
          <articles :articles=articlesArry></articles>
        </div>
      </section>
      <sidebar></sidebar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
import slider from "./slider.vue"
import sidebar from "./sidebar.vue"
import axios from "axios"
import articles from "./articles"
import Global from "../constant"
export default {
  name: "lastArticles",
  components: {
      slider,
      sidebar,
      articles
    },

    data() {
      return {
        articlesArry: undefined,
        url: Global.url
      }
    },
    mounted() {
      console.log("componente lastArticles montado")
      this.getLastArticles()
    },
    methods: {
      getLastArticles() {
        axios.get(`${this.url}articles/true`).then(res => {
          if (res.data.status === "success") {
            this.articlesArry = res.data.articles
            console.log(this.articlesArry);
          }
        })
      }
    }
}
</script>

<style></style>
