<template>
  <section id="content">
    <h2 class="subheader">{{ title }}</h2>
    <h3>{{ subtitle }}</h3>
    <hr />
    <h4 @click="actualizarName()">Reactividad</h4>
    <input type="text" v-model="name" />
    {{ name }}
    <h2>Directivas condicionales</h2>
    <input type="number" v-model="edad" />
    la edad es: <strong>{{ edad }}</strong>

    <p :class="edad >= 18 ? 'success' : 'danger'">
      {{ edad >= 18 ? "es mayor de edad" : "es menor de edad " }}
    </p>

    <h2> Directiva iterativa </h2>
    <ol>
        <li v-for="fruta of frutas" :key='fruta'> {{fruta}}</li>
    </ol>

  </section>
</template>

<script>
export default {
  name: "MiComponente",

  data() {
    return {
      title: "Mi Componente",
      subtitle: "Soy el subtitulo de mi componente",
      name: 0,
      edad: 0,
      frutas:['pera','manzana','uva','mandarina','piña']
    }
  },

  methods: {
    actualizarName() {
      let r = 5
      let a = setInterval(() => {
        this.name++
        console.log(this.name)
        r--
        console.log(r)
        this.name == 5 && clearInterval(a)
      }, 500)
    },
  },
}
</script>
<style></style>
