<template>
  <article class="article-item" id="article-template">
    <div class="image-wrap">
      <img
        :src="objectPelicula.image"
        :alt="objectPelicula.title"
        :title="objectPelicula.title"
      />
    </div>

    <h2>{{ objectPelicula.title }}</h2>
    <span class="date">
      {{ objectPelicula.year }}
    </span>
    <a href="#">Leer más</a>
    <input
      type="button"
      value="favorita"
      @click="sendMovie(objectPelicula)"
    />
    <div class="clearfix"></div>
  </article>
</template>

<script>
export default {
  name: "movieComp",
  props: ["objectPelicula"],

  mounted() {
    console.log('componente montado');
    console.log(this.objectPelicula)
  },

  methods: {

    sendMovie(movieSelected) {
      this.$emit("capturefavoriteMovieEvent", movieSelected)
    }
  }
}
</script>

<style></style>
