<template>
  <div class="general">
    <slider text="Pagina de pruebas"></slider>
    <div class="center">
      <section id="content">
        <h2 class="subheader">pagina</h2>
        <h3>{{ id_desde_url }}</h3>
        <button @click="actualizarName()">update</button>
        <button @click="redirection()">a blog</button>
        <h4>{{ name }}</h4>
      </section>
      <sidebar></sidebar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
import slider from "./slider.vue"
import sidebar from "./sidebar.vue"
export default {
  name: "pagina",
  components: {
    slider,
    sidebar,
  },

  data() {
    return {
      id_desde_url: null,
      name: "x",
    }
  },

  created() {
    console.log("componente creado")
  },

  mounted() {
    this.id_desde_url = this.$route.params.id
    console.log("componente montado")
  },

  updated() {
    console.log("componente actualizado")
  },

  destroyed() {
    console.log("componente destruido")
  },

  methods: {
    actualizarName() {
      this.name = "click"
      console.log("estas en el method actualizarName")
    },

    redirection() {
      console.log("a el blog")
      this.$router.push({
        name: "blog",
        params: {arg: "parametro capturado en pagina"},
      })
    },
  },
}
</script>
<style></style>
