<template>
  <div class="general">
    <div class="center">
      <section id="content">
        <h2 class="subheader">Peliculas</h2>
        <h3 v-if="favoriteMovie">
          Esta es la favorita: {{ favoriteMovie.title }}
        </h3>
        <div id="articles">
          <div v-for="pelicula of arrayPeliculas" :key="pelicula.title">
            <movieComp
              :objectPelicula=pelicula
              @capturefavoriteMovieEvent="capturefavoriteMovieMethod"
            ></movieComp>
          </div>
        </div>
      </section>
      <sidebar></sidebar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
import movieComp from "./movieComp.vue"
import sidebar from "./sidebar.vue"
export default {
  name: "peliculas",
  components: {
    movieComp,
    sidebar
  },
  methods: {
    capturefavoriteMovieMethod(movie) {
      this.favoriteMovie = movie
    }
  },
  data() {
    return {
      favoriteMovie:undefined,
      arrayPeliculas: [
        {
          title: "batman vs superman",
          year: 2017,
          image:
            "https://pics.filmaffinity.com/Batman_v_Superman_El_amanecer_de_la_Justicia-728293826-large.jpg"
        },
        {
          title: "gran torino",
          year: 2018,
          image:
            "https://upload.wikimedia.org/wikipedia/en/c/c6/Gran_Torino_poster.jpg"
        },
        {title: "jhon", year: 2015, image: "../assets/john.jpg"}
      ]
    }
  }
}
</script>

<style></style>
