<template>
  <h1>Redirigiendo......</h1>
</template>
<script>
  export default {
    name: "redirect",
    mounted() {
      let searchString = this.$route.params.searchString
      console.log(searchString)
      setTimeout(() => {
        this.$router.push("/buscador/" + searchString)
      }, 1000)
    }
  }
</script>
