<template>
  <div class="general">
    <slider :text="`busqueda: ${searchString}`"></slider>
    <div class="center">
      <section id="content">
        <h1 class="subheader">{{articles? 'Artículos encontrados': 'Sin resultados'}}</h1>

        <div id="articles" v-if="articles">
          <articles :articles="articles"></articles>
        </div>
        <div  v-if="!articles">
          No hay artículos que coincidan con tu busqueda
        </div>
        <h1>{{ select }}</h1>
      </section>
      <sidebar></sidebar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
  import slider from "./slider.vue"
  import sidebar from "./sidebar.vue"
  import Global from "../constant"
  import articles from "./articles.vue"
  import axios from "axios"

  export default {
    name: "search",
    components: {
      slider,
      sidebar,
      articles
    },

    data() {
      return {
        select: undefined,
        articles: undefined,
        searchString: undefined,
        url: Global.url
      }
    },
    mounted() {
      this.searchString = this.$route.params.searchString
      console.log("componente search montado")
      console.log(this.searchString);
      this.getArticlesBySearch(this.searchString)
    },
    methods: {
      getArticlesBySearch(searchString) {
        setTimeout(()=> {
          axios.get(`${this.url}search/${searchString}`).then(res => {
            if (res.data.status === "success") {
              this.articles = res.data.articles
            }
          })
        }, 2000)
      }
    }
  }
</script>
<style></style>
