<template>
  <div id='slider' :class="{'slider-small': !home}">
    <h1>{{ text }}</h1>
    <router-link to='/blog' class='btn-white' v-if='home'
      >Ir al blog
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'slider',
  props: ['text', 'home'],
  mounted() {
    console.log(this.home)
    console.log(typeof this.home)
  },
}
</script>

<style></style>
