<template>
  <div id="app">
    <headerComp></headerComp>
    <router-view></router-view>
    <footerComp></footerComp>
  </div>
</template>

<script>
import headerComp from "./components/headerComponent.vue"
import footerComp from "./components/footerComp.vue"

export default {
  name: "App",
  components: {
    headerComp,
    footerComp
  },
}
</script>

<style>
@import "../public/css/styles.css";
</style>
